---
namespace: nalms-dev
commonLabels:
  app: nalms
resources:
  - ns.yaml
  - kafka-persistent-w-metrics.yaml
  - phoebus-alrm-srv-lcls.yaml
  - phoebus-alrm-srv-cryo.yaml
configMapGenerator:
  - name: nalms-lcls-configmap
    files: [xml/lcls.xml]
  - name: nalms-cryo-configmap
    files: [xml/cryo.xml]
  - name: nalms-alarm-server-configmap
    files: [alarm-properties/alarm_server.properties]
generatorOptions:
  labels:
    app.kubernetes.io/part-of: phoebus
    app.kubernetes.io/component: configmap
